.frog_pic {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.frog_box {
    display: inline-flex;
    width: 200px;
    height: 270px;
    padding: 10px;
    flex-direction: column;
    border: 1px solid black;
}

.frog_description {
    border: 1px solid black;
    height: 200px;
    width: 200px;
}